<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Nguyet_Nguyen/IdeaProjects/AllureSeleniumMaven">
        <classes>
            <class name="com.nguyet.test.selenium.HomePageTest">
                <methods>
                    <include name="testExample"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>